<header>
    <app-navbar></app-navbar>

</header>

<body>
    <div class="d container-fluid  body" style="margin: 0!important">
        <div class="container-fluid master row ">
            <div class="paddin_cont col-lg-6 col-md-6 col-sm-6  ">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Cafe Quindio</mat-card-title>
                        <mat-card-subtitle>el mejor cafe del quindio</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/Recursos-Caffe/Logo_cafe.jpg" alt="Photo of logo ">
                </mat-card>
            </div>
            <div class="paddin_cont col-lg-6 col-md-6 col-sm-6 ">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Nosotros</mat-card-title>
                        <mat-card-subtitle>el mejor cafe del quindio</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        Café Quindío S.A.S. es una empresa tostadora de café con 23 años de trayectoria y pionera en el desarrollo de productos derivados del famoso grano en el Quindío, Colombia. En este departamento se cosechan cerezas enriquecidas y clasificadas con técnicas
                        especiales que han hecho de Café Quindío una marca con prestigio en los paladares de los conocedores de café.
                    </mat-card-content>
                    <img mat-card-image src="../../../assets/Recursos-Caffe/Local_cafeQuindio.jpg" alt="Photo of a Local_cafeQuindio">
                </mat-card>
            </div>
            <div class="paddin_cont col-lg-12 col-md-12 col-sm-12 ">
                <app-map></app-map>
            </div>


        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>

</footer>